{{!-- MONITOR --}}

<div class="row">
	<div class="col-12">
		<h1 class="text-center text-muted my-4">Monitoramento de anúncios do MercadoLivre</h1>
		<h2 class="text-center text-muted fs-5">Monitore os anúncios dos seus concorrentes e saiba todas as alterações de preço e quantas vendas ele faz por dia, semana e mes.</h2>
		<p class="text-center text-muted ">
			Analise sua concorrencia e monte sua estratégia para sair na frente!<br>
			Saiba se aquele produto que você está pençando em vender está em alta ou em queda no MercadoLivre e invista no produto certo!
		</p>
	</div>
</div>
<hr>

<div class="row my-4">
	<h3 class="text-center text-muted fs-4 mb-3">Adicionar produto</h3>
	<div class="col-12 d-flex justify-content-center">
		<form action="/monitor/save" method="POST">
			
			<div class="d-flex">
				<input type="text" name="id_item" id="id_item" class="form-control" style="width: 300px;" placeholder="ID do produto Ex.: #1897733255">
				<button type="submit" class="btn btn-primary mx-1">Adicionar +</button>
			</div>			
		</form> 

		{{!-- <a href="/monitor/cadastro"><button class="btn btn-primary">Novo +</button></a> --}}
		
	</div>
</div>

<div class="d-flex justify-content-end" style="margin-top: 40px;">
	<a href="/monitor/update-itens"><button class="btn btn-outline-primary ms-3">Atualizar informações</button></a>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 200px;">	
	<div class="col-12">
		{{#each item}}
		<div class="card mb-2">
		  <div class="card-body">
		  	<div class="row descript_prod">
		  		<div class="col-1">
		  			<img src="{{thumbnail}}">
		  		</div>
		  		<div class="col-2 d-flex align-items-center">
		  			<a href="{{permalink}}" target="blank"><strong>{{title}}</strong></a>
					<i class="bi bi-box-arrow-in-up-right"></i>
		  		</div>
		  		<div class="col-4">
		  			<table class="table mx-1">
					  <thead>
					    <tr>
					      <th scope="col">Total Vendas</th>
					      <th scope="col">30 Dias</th>
					      <th scope="col">7 Dias</th>
					      <th scope="col">24 Horas</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>{{t_vendas}}</td>
					      <td>{{m_vendas}}</td>
					      <td>{{s_vendas}}</td>
					      <td>{{d_vendas}}</td>
					    </tr>
					  </tbody>
					</table>
		  		</div>
		  		<div class="col-3">
		  			<table class="table mx-1">
					  <thead>
					    <tr>
					      <th scope="col">Preço ant.</th>
					      <th scope="col">Preço atual</th>
					      <th scope="col">Diferença</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td scope="row">R$ {{ant_price}}</td>
					      <td>R$ {{atu_price}}</td>
					      <td class="{{price_status}}">R$ {{dif_price}}</td>
					    </tr>
					  </tbody>
					</table>
		  		</div>
		  		<div class="col-2 d-flex justify-content-end align-items-center">
		  			<span class="mx-1"> {{status}} </span>
		  			<a href="#" class="mx-1">Ver produto</a>
		  			{{!-- <a href="/monitor/delete/{{_id}}"><button class="btn  mx-2"><i class="bi bi-x-lg"></i></button></a> --}}
		  		</div>
		  	</div>		    
		  </div>
		</div>
		{{else}}
		{{/each}}
	</div>
</div>

{{!-- css --}}
<link rel="stylesheet" href="./css/monitor.css">