<style type="text/css">
	.descript_prod {
		font-size: 0.8em;
	}

	.price_down{
		color: red;
	}
	.price_up{
		color: green;
	}
</style>

<div class="row">
	<div class="col-12">
		<h1 class="text-center text-muted my-4">Monitoramento</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>Anúncios cadastrados</h2>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-12">
		{{#each item}}
		<div class="card mb-2">
		  <div class="card-body">
		  	<div class="row descript_prod">
		  		<div class="col-1">
		  			<img src="{{thumbnail}}">
		  		</div>
		  		<div class="col-2 d-flex align-items-center">
		  			<a href="{{permalink}}" target="blank"><strong>{{title}}</strong></a>
					<i class="bi bi-box-arrow-in-up-right"></i>
		  		</div>
		  		<div class="col-4">
		  			<table class="table mx-1">
					  <thead>
					    <tr>
					      <th scope="col">Total Vendas</th>
					      <th scope="col">30 Dias</th>
					      <th scope="col">7 Dias</th>
					      <th scope="col">24 Horas</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>{{t_vendas}}</td>
					      <td>{{m_vendas}}</td>
					      <td>{{s_vendas}}</td>
					      <td>{{d_vendas}}</td>
					    </tr>
					  </tbody>
					</table>
		  		</div>
		  		<div class="col-3">
		  			<table class="table mx-1">
					  <thead>
					    <tr>
					      <th scope="col">Preço ant.</th>
					      <th scope="col">Preço atual</th>
					      <th scope="col">Diferença</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td scope="row">R$ {{ant_price}}</td>
					      <td>R$ {{atu_price}}</td>
					      <td class="{{price_status}}">R$ {{dif_price}}</td>
					    </tr>
					  </tbody>
					</table>
		  		</div>
		  		<div class="col-2 d-flex justify-content-end align-items-center">
		  			<span class="mx-1"> {{status}} </span>
		  			<a href="#" class="mx-1">Ver produto</a>
		  			<a href="/monitor/delete/{{_id}}"><button class="btn  mx-2"><i class="bi bi-x-lg"></i></button></a>
		  		</div>
		  	</div>		    
		  </div>
		</div>
		{{else}}
		{{/each}}
	</div>
</div>

<div class="row my-2">
	<div class="col-12">
		<a href="/monitor/update-itens"><button class="btn btn-success">Atualizar</button></a>
		<a href="/monitor/cadastro"><button class="btn btn-primary">Novo</button></a>
	</div>
</div>